* {
  margin: 0;
  padding: 0;
}

.box {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
  grid-template-areas:
    "side-bar header"
    "side-bar library";
}

.header {
  grid-area: header;
}

.library {
    grid-area: library;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 20px 5% 20px 5%;
}

.lib-table {
  padding: 10px 50px 0 80px;
}

.lib-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.lib-table td, .lib-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.lib-table tr:nth-child(even){background-color: #f2f2f2;}

.lib-table tr:hover {background-color: #ddd;}

.lib-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #21b85b;
  color: white;
}

.read-cell {
  text-align: center;
}

.delete-cell {
  text-align: center;
}
.delete-img {
  max-width: 100%;
  border: none;
}

.delete-btn {
  max-width: 30%;
  border: none;
  background: transparent;
}


.side-bar {
  grid-area: side-bar;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
  "sidelogo"
  "sideform";

  padding: 10px;
  background-color: rgb(170, 170, 231);
}

.side-logo {
grid-area: sidelogo;
display: flex;
justify-content: center;
align-items: center;
}

.side-form {
  grid-area: sideform;
  display: none;
}

input {
  padding: 5px;
  margin: 3px 0 0 0;
}

input#have-read {
  display: flex;
  width: 29px;
  height: 29px;
}

.infield-r {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infield {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

