* {
  margin: 0;
  padding: 0;
}

/* .display {
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
} */

.box {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
  grid-template-areas:
    "side-bar header"
    "side-bar lib-table";
}

.content {
  grid-area: content;
  background-color: rgb(226, 43, 217);
}

.header {
  grid-area: header;
}

.lib-table {
  grid-area: lib-table;
  padding: 10px 50px 0 80px;
}

.side-bar {
  grid-area: side-bar;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "sidelogo"
  "sideform";

  padding: 10px;
  background-color: rgb(170, 170, 231);
}

.side-logo {
grid-area: sidelogo;
display: flex;
justify-content: center;
align-items: center;
}

.side-form {
  grid-area: sideform;

}

input {
  padding: 5px;
  margin: 3px 0 0 0;
}

input#have-read {
  display: flex;
  width: 29px;
  height: 29px;
}

.infield-r {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
}

.infield {
  margin: 10px 0 10px 0;
}