:root {
  --my-green: #04aa6d;
}

* {
  margin: 0;
  padding: 0;
}

.box {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr;
  grid-template-areas:
    "header"
    "library";
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn {
  width: clamp(140px, 15%, 500px);
  height: clamp(50px, 15%, 500px);
  border: none;
  background-color: var(--my-green);
  color: white;
  font-size: 150%;
  font-weight: 800;
  border-radius: 15px;
  margin: 10px;
}

.library {
  grid-area: library;
  padding: 20px 15% 20px 15%;
}

/* .lib-table {
  padding: 10px 50px 0 80px;
} */

.lib-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.lib-table td,
.lib-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.lib-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.lib-table tr:hover {
  background-color: #ddd;
}

.lib-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--my-green);
  color: white;
}

.pages-cell {
  text-align: center;
}

.read-cell {
  text-align: center;
}

.delete-cell {
  text-align: center;
}
.delete-img {
  max-width: 100%;
  border: none;
}

.delete-btn {
  max-width: 30%;
  border: none;
  background: transparent;
}

.side-bar {
  grid-area: side-bar;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidelogo"
    "sideform";

  padding: 10px;
  background-color: rgb(170, 170, 231);
}

.side-logo {
  grid-area: sidelogo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-overlay {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.329);
}

.form-card {
  position: absolute;
  border: 5px solid #ffff;
  background-color: var(--my-green);
  border-radius: 15px;
  box-shadow: 25px 20px 70px -30px black;
}

.side-form {
  grid-area: sideform;
  margin: 30px;
}

input {
  padding: 5px;
  margin: 0 0 0 0;
  border: white;
  border-radius: 5px;
}

label {
  color: white;
  font-size: 110%;
  margin-bottom: 5px;
}

/* input#have-read {
  display: flex;
  width: 29px;
  height: 29px;
} */

.infield-r {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.read-opt {
  display: flex;
  width: 100%;
}

.read-opt1{
  display: flex;
  margin-right: 20%;
  gap: 5px;
  justify-content: center;
}

.read-opt2{
  display: flex;
    gap: 5px;
  /* margin-right: 20%; */
}


/* * THIS CODE COMES FROM https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */
input[type=radio] {
  box-sizing: border-box;
  appearance: none;
  font: inherit;
  color: white;
  background-color: white;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--my-green);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
/* .have-read{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.infield {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

input#submit {
  font-weight: 800;
  font-size: 100%;
  border-radius: 15px;
  color: var(--my-green);
  background-color: white;
  width: 100%;
  margin-top: 10%;
  padding: 5%;
}
